---
layout: default
---


   <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        <h1 itemprop="name headline">
          {% if post.external-url %}
          <a href="{{ post.external-url }}">
            {{ page.title }}
          </a>
          {% else %}
          {{ page.title }}
          {% endif %}
        </h1>
      </header>
      <section class="post-content"  itemprop="articleBody">
      {{ page.content }}
      </section>
    </article>
